:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

.bold {
  font-weight: 800;
}

.light {
  font-weight: 500;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Yellow);
}

main {
  background-color: var(--White);
  border-radius: 16px;
  padding: 25px;
  box-shadow: 7px 7px 1px 0px var(--Black);
  transition: all 0.3s linear;
}

main:hover {
  box-shadow: 13px 13px 1px 0px var(--Black);
}

[alt="article image"] {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.catag {
  font-size: 14px;
  padding: 5px 15px;
  background-color: var(--Yellow);
  width: fit-content;
  margin: 20px 0;
  border-radius: 5px;
}

.time-stamp {
  font-size: 14px;
  color: var(--Black);
  opacity: 0.9;
}

h1 {
  font-size: 26px;
  color: var(--Black);
  margin: 20px 0;
  cursor: pointer;
}

h1:hover {
  color: var(--Yellow);
}

.article {
  color: var(--Grey);
}

.user-card {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.user-name {
  font-size: 15px;
  color: var(--Black);
  width: fit-content;
  margin-left: 15px;
}

.user-card img {
  width: 40px;
  height: 40px;
}

@media (max-width: 450px) {
  main {
    width: calc(100% - 50px);
  }
}

@media (min-width: 451px) {
  main {
    width: 420px;
  }
}
